@import './publicStyles/icon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranSans';
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_UltraLight.eot');
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_UltraLight.eot')
      format('embedded-opentype'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_UltraLight.woff2')
      format('woff2'),
    url('./assets/font/iranSans/faNum/woff/IRANSansWeb_FaNum_UltraLight.woff')
      format('woff'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_UltraLight.ttf')
      format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'IranSans';
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_Light.eot');
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_Light.eot')
      format('embedded-opentype'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_Light.woff2')
      format('woff2'),
    url('./assets/font/iranSans/faNum/woff/IRANSansWeb_FaNum_Light.woff')
      format('woff'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_Light.ttf')
      format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'IranSans';
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum.eot');
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum.eot')
      format('embedded-opentype'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum.woff2')
      format('woff2'),
    url('./assets/font/iranSans/faNum/woff/IRANSansWeb_FaNum.woff')
      format('woff'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum.ttf')
      format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'IranSans';
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_Medium.eot');
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_Medium.eot')
      format('embedded-opentype'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_Medium.woff2')
      format('woff2'),
    url('./assets/font/iranSans/faNum/woff/IRANSansWeb_FaNum_Medium.woff')
      format('woff'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_Medium.ttf')
      format('truetype');
  font-weight: medium;
}
@font-face {
  font-family: 'IranSans';
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_Bold.eot');
  src: url('./assets/font/iranSans/faNum/eot/IRANSansWeb_FaNum_Bold.eot')
      format('embedded-opentype'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_Bold.woff2')
      format('woff2'),
    url('./assets/font/iranSans/faNum/woff/IRANSansWeb_FaNum_Bold.woff')
      format('woff'),
    url('./assets/font/iranSans/faNum/woff2/IRANSansWeb_FaNum_Bold.ttf')
      format('truetype');
  font-weight: bold;
}

@layer base {
  h1 {
    @apply text-[1.42rem];
  }
  h2 {
    @apply text-[1.26rem];
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-[0.88rem];
  }
  h6 {
    @apply text-[0.79rem];
  }
}

:root {
  /* typography */
  --font-medium: 500;
  --font-regular: 400;
  --font-bold: 700;
}

body {
  color: #313131;

  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: 'IranSans';
  direction: rtl;
}
*:focus {
  outline: none;
}
.ltr {
  direction: ltr;
}

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  @media screen(xl) {
    width: 99.83rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@layer components {
  /*buttons*/
  .btn-primary {
    background-color: theme('colors.primary.zinc');
    color: theme('colors.primary.white');
    border: 0.188rem solid theme('colors.primary.zinc');
  }
  .btn-primary:disabled,   .btn-primary[disabled] {
    background-color: theme('colors.secondary.gray-3');
    color: theme('colors.primary.white');
    border: 0.188rem solid theme('colors.secondary.gray-3');
  }
  .btn-secondary {
    background-color: theme('colors.secondary.gray-3');
    color: theme('colors.primary.white');
    border: 0.188rem solid theme('colors.secondary.gray-3');
  }
  .btn-tertiary {
    background-color: transparent;
    border: 0.188rem solid theme('colors.secondary.light-gray-2');
    color: theme('colors.primary.zinc');
  }
  .btn-red {
    background-color: transparent;
    border: 0.188rem solid theme('colors.primary.red');
    color: theme('colors.primary.white');
  }
  .btn {
    height: 2.875rem;
    border-radius: 1.65625rem;
    min-width :8.75rem;
  }

  .inputField {
    border: 1.1px solid theme('colors.secondary.light-gray-3');
    border-radius: 1.65625rem;
    width: 19.25rem;
    height: 2.875rem;
    max-width: 100%;
    padding: 0 1rem;
  }
}


