.social-media li > a {
  background-image: url('../assets/icons/social-media.svg');
  width: 2rem;
  height: 1.87rem;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.social-media > li:nth-child(1) > a {
  background-position: -97px -1px;
}
.social-media > li:nth-child(2) > a {
  background-position: -47px -1px;
}
.social-media > li:nth-child(3) > a {
  background-position: 2px -1px;
}

.certificates > span {
  width: 5.6125rem;
  height: 7.3105rem;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(49, 49, 49, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}
.certificates > span:nth-child(1) {
  background-image: url('../assets/icons/certificate-1.jpg');
}
.certificates > span:nth-child(2) {
  background-image: url('../assets/icons/certificate-2.jpg');
}
.certificates > span:nth-child(3) {
  background-image: url('../assets/icons/Iso-9001.jpg');
}
.certificates > span:nth-child(4) {
  background-image: url('../assets/icons/Iso-45001.jpg');
}
.certificates > span:nth-child(5) {
  background-image: url('../assets/icons/samandehi.jpg');
}

.accordion.active ul {
  display: block;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
}
/* checkbox */
/* Default style reset */
[type='checkbox'] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

[type='checkbox'] {
  position: relative;
  width: 1.37rem;
  height: 1.37rem;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
  }

  &::before {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #313131;
    border-radius: 5px;
    background-color: transparent;
  }

  &::after {
    top: 6px;
    left: 4px;
    width: 14px;
    height: 7px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    transition: all 0.3s;
    opacity: 0;
  }

  &:checked::after {
    opacity: 1;
  }
  &:checked::before {
    background-color: #313131;
  }
}
[type='checkbox'].checkbox--gray {
  &::before {
    border: 1px solid #919191;
  }
  &:checked::before {
    background-color: #919191;
  }
}
[type='checkbox'] + label {
  padding-right: 0.5rem;
  font-size: 1rem;
}

[dir="rtl"] .slick-arrow {
  width: 2rem;
  height: 2rem;
  z-index: 9;
}
[dir='rtl'] .slick-arrow::before {
  content: initial !important;
}
