form.validateCode {
  display: flex;
  justify-content: center;

  input {
    margin: 0 0.2rem;
    border: none;
    width: 30px;
    height: 100%;
    text-align: center;
    background-color: transparent;
  }
  .special {
    margin-top: 2rem;
    font-size: 2rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    i {
      font-size: 1rem;
      cursor: pointer;
    }
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.pin-code {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pin-code input {
  border: none;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 36px;
  background-color: #f3f3f3;
  margin-right: 5px;
}

.pin-code input:focus {
  border: 1px solid #573d8b;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
